# directories
.vscode
build
output

# dependency dirs
/sources/Projeto/dependencies/**
!/sources/Projeto/dependencies/**/
!/sources/Projeto/dependencies/**/.gitkeep

# Executable (exclude symlink on my machine but keep directory of the name name)
Projeto
!/sources/Projeto/
